In [128]:
import pandas as pd
import joblib
music = "phone"

watch = pd.read_csv(f"./data/{music}.csv")
watch.head()

   age  gender    phone
0   25       1    apple
1   30       0  samsung
2   40       1   huawei
3   28       0    apple
4   32       0  samsung

In [129]:
X = watch.drop(columns=[f"{music}"])
X.head()

   age  gender
0   25       1
1   30       0
2   40       1
3   28       0
4   32       0

In [130]:
y = watch[f"{music}"]
y.head()

0      apple
1    samsung
2     huawei
3      apple
4    samsung
Name: phone, dtype: object

In [131]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier

dic = dict()
model = DecisionTreeClassifier()
def encodeStr(x_):
    global dic
    x = x_.copy()
    for i,col in enumerate(x.columns):
        if x[col].dtype!=np.object:
            continue
        dic[i] = {_:i for i,_ in enumerate(list(set(x[col])))}
        x[col] = np.array([dic[i][_] for _ in x[col]])
    return x

def convert_(x):
    try:
        float(x)
        return float(x)
    except:
        return -1

model.fit(encodeStr(X),y)
joblib.dump((model,dic),f"./app/{music}-recommender.joblib")

['./app/phone-recommender.joblib']

In [132]:
from joblib import load
md1, dic = load(f"./app/{music}-recommender.joblib")
datas = [[dic.get(i_,{x_:convert_(x_)}).get(x_, -1) for i_,x_ in enumerate(data)] for data in X.to_numpy()]
md1.predict(datas)==y

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15    False
16     True
17     True
18     True
Name: phone, dtype: bool