In [188]:
import pandas as pd
import joblib
music = "music"

watch = pd.read_csv(f"./data/{music}.csv")
watch.head()

   age  gender academic-qualification    music
0   33       0                 degree     jazz
1   23       1                diploma   hiphop
2   18       0                    phd   hiphop
3   67       0                 master     jazz
4   54       1                diploma  classic

In [189]:
X = watch.drop(columns=[f"{music}"])
X.head()

   age  gender academic-qualification
0   33       0                 degree
1   23       1                diploma
2   18       0                    phd
3   67       0                 master
4   54       1                diploma

In [190]:
y = watch[f"{music}"]
y.head()

0       jazz
1     hiphop
2     hiphop
3       jazz
4    classic
Name: music, dtype: object

In [191]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier

dic = dict()
model = DecisionTreeClassifier()
def encodeStr(x_):
    global dic
    x = x_.copy()
    for i,col in enumerate(x.columns):
        if x[col].dtype!=np.object:
            continue
        dic[i] = {_:i for i,_ in enumerate(list(set(x[col])))}
        x[col] = np.array([dic[i][_] for _ in x[col]])
    return x

def convert_(x):
    try:
        float(x)
        return float(x)
    except:
        return -1

model.fit(encodeStr(X),y)
joblib.dump((model,[list(dic.keys()), [[list(x.keys()), list(x.values())] for x in dic.values()]]),f"./app/{music}-recommender.joblib")

['./app/music-recommender.joblib']

In [192]:
from joblib import load
md1, d = load(f"./app/{music}-recommender.joblib")
dic = {d[0][i]:{a:b for a,b in zip(d[1][i][0],d[1][i][1])} for i in range(len(d[0]))}
datas = [[dic.get(i_,{x_:convert_(x_)}).get(x_, -1) for i_,x_ in enumerate(data)] for data in X.to_numpy()]
md1.predict(datas)==y

0      True
1      True
2      True
3      True
4     False
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
Name: music, dtype: bool