In [6]:
import pandas as pd
import pickle as pkl
music = "watch"

watch = pd.read_csv(f"./data/{music}.csv")
watch.head()

   age  gender    watch
0   34       0  digital
1   22       0    smart
2   50       1   quartz
3   19       1   quartz
4   51       0    smart

In [2]:
X = watch.drop(columns=[f"{music}"])
X.head()

   age  salary  class
0   25    5000  white
1   37    3000   blue
2   29    3600  white
3   40    2800   pink
4   44    4500  white

In [3]:
y = watch[f"{music}"]
y.head()

0      MPV
1    truck
2    truck
3    sedan
4    sedan
Name: vehicle, dtype: object

In [8]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier

class MyClassfier(DecisionTreeClassifier):
    def __init__(self):
        super().__init__()
        self.dic = dict()
        
    def encodeStr(self, x):
        x = x.copy()
        for i,col in enumerate(x.columns):
            if str(x[col].dtype)!="object":
                continue
            dic = {_:i for i,_ in enumerate(list(set(x[col])))}
            x[col] = np.array([dic[_] for _ in x[col]])
            self.dic[i] = dic
        return x
    
    def fit(self, x, y):
        x = self.encodeStr(x)
        return super().fit(x,y)
        
    def convert_(self,x):
        try:
            float(x)
            return float(x)
        except:
            return -1

    def predict(self, datas):
        datas = [[self.dic.get(i_,{x_:self.convert_(x_)}).get(x_, -1) for i_,x_ in enumerate(data)] for data in datas]
        return super().predict(datas)

In [4]:
# model = MyClassfier()
# model.fit(X,y)
# model.predict(X.to_numpy())==y

In [218]:
import joblib
joblib.dump(model,f"./app/{music}-recommender.joblib")

['watch-recommender.joblib']

In [20]:
music = "vehicle"
from joblib import load
md1 = load(f"./app/{music}-recommender.joblib")

In [21]:
output_hal = open(f".\\app\\{music}.pkl", 'wb')
str = pkl.dumps(md1)
output_hal.write(str)
output_hal.close()

In [17]:
model = MyClassfier()
with open(f".\\app\\{music}.pkl",'rb') as file:
    model  = pkl.loads(file.read())

In [15]:
model.predict(X.to_numpy())==y

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
Name: vehicle, dtype: bool