In [1]:
import pandas as pd

music = "vehicle"

watch = pd.read_csv(f"./data/{music}.csv")
watch.head()

   age  salary  class vehicle
0   25    5000  white     MPV
1   37    3000   blue   truck
2   29    3600  white   truck
3   40    2800   pink   sedan
4   44    4500  white   sedan

In [2]:
X = watch.drop(columns=[f"{music}"])
X.head()

   age  salary  class
0   25    5000  white
1   37    3000   blue
2   29    3600  white
3   40    2800   pink
4   44    4500  white

In [3]:
y = watch[f"{music}"]
y.head()

0      MPV
1    truck
2    truck
3    sedan
4    sedan
Name: vehicle, dtype: object

In [7]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier

class MyClassfier(DecisionTreeClassifier):
    def __init__(self):
        super().__init__()
        self.dic = dict()
        
    def encodeStr(self, x):
        x = x.copy()
        for i,col in enumerate(x.columns):
            if str(x[col].dtype)!="object":
                continue
            dic = {_:i for i,_ in enumerate(list(set(x[col])))}
            x[col] = np.array([dic[_] for _ in x[col]])
            self.dic[i] = dic
        return x
    
    def fit(self, x, y):
        x = self.encodeStr(x)
        return super().fit(x,y)
        
    def convert_(self,x):
        try:
            float(x)
            return float(x)
        except:
            return -1

    def predict(self, datas):
        datas = [[self.dic.get(i_,{x_:self.convert_(x_)}).get(x_, -1) for i_,x_ in enumerate(data)] for data in datas]
        return super().predict(datas)

In [4]:
# model = MyClassfier()
# model.fit(X,y)
# model.predict(X.to_numpy())==y

In [218]:
import joblib
joblib.dump(model,f"./app/{music}-recommender.joblib")

['watch-recommender.joblib']

In [8]:
from joblib import load
md1 = load(f"./app/{music}-recommender.joblib")