In [183]:
import pandas as pd
import joblib
music = "watch"

watch = pd.read_csv(f"./data/{music}.csv")
watch.head()

   age  gender    watch
0   34       0  digital
1   22       0    smart
2   50       1   quartz
3   19       1   quartz
4   51       0    smart

In [184]:
X = watch.drop(columns=[f"{music}"])
X.head()

   age  gender
0   34       0
1   22       0
2   50       1
3   19       1
4   51       0

In [185]:
y = watch[f"{music}"]
y.head()

0    digital
1      smart
2     quartz
3     quartz
4      smart
Name: watch, dtype: object

In [186]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier

dic = dict()
model = DecisionTreeClassifier()
def encodeStr(x_):
    global dic
    x = x_.copy()
    for i,col in enumerate(x.columns):
        if x[col].dtype!=np.object:
            continue
        dic[i] = {_:i for i,_ in enumerate(list(set(x[col])))}
        x[col] = np.array([dic[i][_] for _ in x[col]])
    return x

def convert_(x):
    try:
        float(x)
        return float(x)
    except:
        return -1

model.fit(encodeStr(X),y)
joblib.dump((model,[list(dic.keys()), [[list(x.keys()), list(x.values())] for x in dic.values()]]),f"./app/{music}-recommender.joblib")

['./app/watch-recommender.joblib']

In [187]:
from joblib import load
md1, d = load(f"./app/{music}-recommender.joblib")
dic = {d[0][i]:{a:b for a,b in zip(d[1][i][0],d[1][i][1])} for i in range(len(d[0]))}
datas = [[dic.get(i_,{x_:convert_(x_)}).get(x_, -1) for i_,x_ in enumerate(data)] for data in X.to_numpy()]
md1.predict(datas)==y

0      True
1      True
2      True
3      True
4      True
5      True
6     False
7      True
8      True
9      True
10    False
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
Name: watch, dtype: bool